* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Bellota';
}

html, body {
    min-height: 100vh;
}

body {
    max-height: 100vh;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

img {
    width: 100%;
}

input {
    padding: 10px 20px;
    margin: 2rem 0;
    border: 2px solid #b4d3ff;
    border-radius: 25px;
    outline: none;
}

input::placeholder {
    font-family: monospace;
    font-weight: 200;
}

button {
    background-color: #ffda61;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.lagoso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.lagoso img {
    display: block;
    padding: 1rem 0;
}

.lagos {
    font-size: 3rem;
}

.lekki {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

#flat-icon {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    font-family: monospace;
    text-transform: uppercase;
    background-color: #ffda61;
    border-radius: 25px;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    opacity: 0.5;
    color: #5777a3;
}

@media screen and (max-width:375px) {
    header {
        font-size: 1.5rem;
    }

    .lagoso {
        font-size: 1rem;
    }

    .lekki {
        font-size: 1.5rem;
    }

    #flat-icon {
        margin-bottom: 1.5rem;
    }
}

@media screen and (min-width:1000px) {
    img {
        width: 120%;
    }

    input, button {
        padding: 15px 20px;
    }

    #flat-icon {
        font-size: 12px;
    }
}